[Unit]
Description=NextOS Amlogic-no HDMI audio routing fix (AML-AUGE kernel 5.15)
DefaultDependencies=no
After=sys-devices-platform-auge_sound-sound-card0.device
Before=pulseaudio.service show-splash.service emustation.service
ConditionPathExists=/proc/asound/card0

[Service]
Type=oneshot
ExecStart=/usr/bin/nextos-no-hdmi-audio-fix.sh
RemainAfterExit=yes

[Install]
WantedBy=basic.target
